CREATE DATABASE [Phone_Shop_Online_3]
GO
USE [Phone_Shop_Online_3]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[avatar] [varchar](max) NULL,
	[gender] [bit] NULL,
	[password] [varchar](50) NULL,
	[user_name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[author_id] [int] NULL,
	[updated_date] [date] NULL,
	[content] [nvarchar](max) NULL,
	[thumbnail] [nvarchar](max) NULL,
	[brief_infor] [nvarchar](max) NULL,
	[categoryBlog_id] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_blog]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_blog](
	[categoryBlog_id] [int] IDENTITY(1,1) NOT NULL,
	[categoryBlog_name] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Category_blog] PRIMARY KEY CLUSTERED 
(
	[categoryBlog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[avatar] [varchar](max) NULL,
	[gender] [bit] NULL,
	[password] [varchar](50) NULL,
	[user_name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__User__CB9A1CFF404D73E0] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedBack_id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[rated_star] [float] NULL,
	[feedback] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[product_id] [int] NULL,
	[userId] [int] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK__Feedback__7012E843FBF9D24D] PRIMARY KEY CLUSTERED 
(
	[feedBack_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headphone_detail]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headphone_detail](
	[connect] [nchar](500) NULL,
	[headphone_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](50) NULL,
	[using_time] [nvarchar](500) NULL,
	[sound_tech] [nvarchar](500) NULL,
	[micro] [bit] NULL,
	[control_method] [nvarchar](500) NULL,
	[waterproof] [nvarchar](500) NULL,
	[product_id] [int] NULL,
	[other_feature] [nvarchar](max) NULL,
 CONSTRAINT [PK_Headphone_detail] PRIMARY KEY CLUSTERED 
(
	[headphone_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptop_detail]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptop_detail](
	[laptop_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](50) NULL,
	[screen_size] [nvarchar](500) NULL,
	[screen_tech] [nvarchar](500) NULL,
	[chip] [nvarchar](500) NULL,
	[ram] [nvarchar](500) NULL,
	[pin] [nvarchar](500) NULL,
	[operation_system] [nvarchar](500) NULL,
	[screen_feature] [nvarchar](500) NULL,
	[product_id] [int] NULL,
	[other_feature] [nvarchar](max) NULL,
 CONSTRAINT [PK_Laptop_detail] PRIMARY KEY CLUSTERED 
(
	[laptop_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Management]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Management](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[avatar] [varchar](max) NULL,
	[gender] [bit] NULL,
	[password] [varchar](50) NULL,
	[user_name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[admin_create_id] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Management] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [date] NULL,
	[total_cost] [int] NULL,
	[fullName] [nvarchar](50) NULL,
	[phone] [varchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[status_order] [int] NULL,
	[userId] [int] NULL,
	[saler_id] [int] NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [PK__Order__46596229CBCF2098] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[orderDetail_id] [int] IDENTITY(1,1) NOT NULL,
	[product_price] [int] NULL,
	[quantity] [int] NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[total_cost] [int] NULL,
 CONSTRAINT [PK__Order_De__317953247CDC0CB7] PRIMARY KEY CLUSTERED 
(
	[orderDetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phone_detail]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone_detail](
	[phone_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](50) NULL,
	[screen_size] [nvarchar](500) NULL,
	[screen_tech] [nvarchar](500) NULL,
	[camera_rear] [nvarchar](max) NULL,
	[front_camera] [nvarchar](max) NULL,
	[chip] [nvarchar](500) NULL,
	[ram] [nvarchar](500) NULL,
	[rom] [nvarchar](500) NULL,
	[pin] [nvarchar](500) NULL,
	[sim] [nvarchar](500) NULL,
	[operation_system] [nvarchar](500) NULL,
	[screen_feature] [nvarchar](500) NULL,
	[product_id] [int] NULL,
	[other_feature] [nvarchar](max) NULL,
 CONSTRAINT [PK_Phone_detail] PRIMARY KEY CLUSTERED 
(
	[phone_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](255) NULL,
	[original_prices] [int] NULL,
	[sale] [bit] NULL,
	[sale_prices] [int] NULL,
	[product_highlights] [nvarchar](max) NULL,
	[product_description] [nvarchar](max) NULL,
	[trademark_id] [int] NULL,
	[status] [bit] NULL,
	[quantity] [int] NULL,
	[guarantee] [int] NULL,
	[category_id] [int] NULL,
	[update_date] [date] NULL,
	[sole] [int] NULL,
	[management_id] [int] NULL,
	[avr_rated_star] [int] NULL,
 CONSTRAINT [PK__Product__47027DF56173B414] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_Images]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_Images](
	[products_images_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[status] [bit] NULL,
	[images] [varchar](max) NULL,
 CONSTRAINT [PK__Products__5C0F95CEB6C25817] PRIMARY KEY CLUSTERED 
(
	[products_images_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tablet_detail]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tablet_detail](
	[tablet_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](50) NULL,
	[screen_size] [nvarchar](500) NULL,
	[screen_tech] [nvarchar](500) NULL,
	[camera_rear] [nvarchar](max) NULL,
	[front_camera] [nvarchar](max) NULL,
	[chip] [nvarchar](500) NULL,
	[ram] [nvarchar](500) NULL,
	[rom] [nvarchar](500) NULL,
	[pin] [nvarchar](500) NULL,
	[sim] [nvarchar](500) NULL,
	[operation_system] [nvarchar](500) NULL,
	[screen_resolution] [nvarchar](500) NULL,
	[screen_feature] [nvarchar](500) NULL,
	[product_id] [int] NULL,
	[other_feature] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tablet_detail] PRIMARY KEY CLUSTERED 
(
	[tablet_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trademark]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trademark](
	[trademark_id] [int] IDENTITY(1,1) NOT NULL,
	[trademark_name] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Trademark] PRIMARY KEY CLUSTERED 
(
	[trademark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Whistlist]    Script Date: 2/18/2024 10:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Whistlist](
	[whistlist_id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[productId] [int] NULL,
 CONSTRAINT [PK_Whistlist] PRIMARY KEY CLUSTERED 
(
	[whistlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [fullName], [avatar], [gender], [password], [user_name], [email], [phone], [address], [status]) VALUES (3, N'Chau Lan', N'TXGTQCZQZA_LanChauAdmin_Admin.jpeg', 1, N'1', N'LanChauAdmin', N'LanChau@1998.com', N'0895625982', N'Ha Noi', 1)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (1, N'Mobile')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (2, N'Laptop')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (3, N'Tablet')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([userId], [fullName], [avatar], [gender], [password], [user_name], [email], [phone], [address], [status]) VALUES (1, N'Nguyễn Hà Dương21', N'FFQWLXTTKM_tung123_Customer.jpeg', 0, N'1', N'tung123', N'duong123@gmail.com', N'09461728741', N'Phủ Lý, Hà Nam21', 1)
INSERT [dbo].[Customer] ([userId], [fullName], [avatar], [gender], [password], [user_name], [email], [phone], [address], [status]) VALUES (2, N'tran tung', N'FXIKJAWQYF_tung111.jpeg', 0, N'1', N'tung111', N'tung050903@gmail.com', N'0987583729', N'Ha Nam', 1)
INSERT [dbo].[Customer] ([userId], [fullName], [avatar], [gender], [password], [user_name], [email], [phone], [address], [status]) VALUES (3, N'Chau Lan', N'https://th.bing.com/th?id=OIP.idxieg0qmCadLdK1muY5bgHaJo&w=219&h=285&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2', 1, N'123', N'LanChau', N'LanChau@1998.com', N'0895625982', N'Ha Noi', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Headphone_detail] ON 

SET IDENTITY_INSERT [dbo].[Headphone_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptop_detail] ON 

INSERT [dbo].[Laptop_detail] ([laptop_detail_id], [color], [screen_size], [screen_tech], [chip], [ram], [pin], [operation_system], [screen_feature], [product_id], [other_feature]) VALUES (1, NULL, N'13.3 inches', N'Độ sáng 400 nits
<br>Hỗ trợ dải màu P3<br>
True-Tone', N'8 nhân với 4 nhân hiệu năng cao và 4 nhân tiết kiệm điện', N'8GB', N'49.9-watt lithium-polymer, củ sạc công suất 30W', N'macOS Big Sur', N'2560 x 1600 pixels (2K)', 6, N'Cảm biến vân tay Touch ID, 720p FaceTime HD camera')
INSERT [dbo].[Laptop_detail] ([laptop_detail_id], [color], [screen_size], [screen_tech], [chip], [ram], [pin], [operation_system], [screen_feature], [product_id], [other_feature]) VALUES (2, NULL, N'13.6 inches', N'Liquid Retina Display', N'Apple M2', N'8GB', N'
52,6 Wh', N'MacOS', N'2560 x 1664 pixels', 5, N'Ổ cứng SSD')
INSERT [dbo].[Laptop_detail] ([laptop_detail_id], [color], [screen_size], [screen_tech], [chip], [ram], [pin], [operation_system], [screen_feature], [product_id], [other_feature]) VALUES (3, NULL, N'13.3 inches', N'
Công nghệ chống chói', N'i5-1145G7', N'16GB', N'3 Cell, 41 Wh', N'
Windows 11', N'1080 x 1920 pixels (FullHD)', 3, N'Ổ cứng SSD, Wi-Fi 6')
SET IDENTITY_INSERT [dbo].[Laptop_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_Images] ON 

INSERT [dbo].[Products_Images] ([products_images_id], [product_id], [status], [images]) VALUES (1, 6, 1, N'https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/a/i/air_m2.png')
INSERT [dbo].[Products_Images] ([products_images_id], [product_id], [status], [images]) VALUES (2, 5, 1, N'https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/m/a/macbook_air_m22.png')
INSERT [dbo].[Products_Images] ([products_images_id], [product_id], [status], [images]) VALUES (3, 3, 1, N'https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:80/plain/https://cellphones.com.vn/media/catalog/product/l/a/laptop-dell-latitude-7320-9ppwv.png')
SET IDENTITY_INSERT [dbo].[Products_Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Trademark] ON 

INSERT [dbo].[Trademark] ([trademark_id], [trademark_name], [status]) VALUES (1, N'Apple', NULL)
INSERT [dbo].[Trademark] ([trademark_id], [trademark_name], [status]) VALUES (2, N'Samsung', NULL)
INSERT [dbo].[Trademark] ([trademark_id], [trademark_name], [status]) VALUES (3, N'Sony', NULL)
SET IDENTITY_INSERT [dbo].[Trademark] OFF
GO
ALTER TABLE [dbo].[Blog] ADD  CONSTRAINT [DF_Blog_updated_date_1]  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_orderDate]  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_update_date]  DEFAULT (getdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Category_blog] FOREIGN KEY([categoryBlog_id])
REFERENCES [dbo].[Category_blog] ([categoryBlog_id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Category_blog]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Management] FOREIGN KEY([author_id])
REFERENCES [dbo].[Management] ([id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Management]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__produc__3F466844] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__produc__3F466844]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__userId__403A8C7D] FOREIGN KEY([userId])
REFERENCES [dbo].[Customer] ([userId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__userId__403A8C7D]
GO
ALTER TABLE [dbo].[Headphone_detail]  WITH CHECK ADD  CONSTRAINT [FK_Headphone_detail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Headphone_detail] CHECK CONSTRAINT [FK_Headphone_detail_Product]
GO
ALTER TABLE [dbo].[Laptop_detail]  WITH CHECK ADD  CONSTRAINT [FK_Laptop_detail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Laptop_detail] CHECK CONSTRAINT [FK_Laptop_detail_Product]
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD  CONSTRAINT [FK_Management_Admin] FOREIGN KEY([admin_create_id])
REFERENCES [dbo].[Admin] ([id])
GO
ALTER TABLE [dbo].[Management] CHECK CONSTRAINT [FK_Management_Admin]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__userId__412EB0B6] FOREIGN KEY([userId])
REFERENCES [dbo].[Customer] ([userId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__userId__412EB0B6]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__order__4222D4EF] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK__Order_Det__order__4222D4EF]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__produ__4316F928] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK__Order_Det__produ__4316F928]
GO
ALTER TABLE [dbo].[Phone_detail]  WITH CHECK ADD  CONSTRAINT [FK_Phone_detail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Phone_detail] CHECK CONSTRAINT [FK_Phone_detail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__categor__440B1D61] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__categor__440B1D61]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Management] FOREIGN KEY([management_id])
REFERENCES [dbo].[Management] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Management]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Trademark] FOREIGN KEY([trademark_id])
REFERENCES [dbo].[Trademark] ([trademark_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Trademark]
GO
ALTER TABLE [dbo].[Products_Images]  WITH CHECK ADD  CONSTRAINT [FK__Products___produ__46E78A0C] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Products_Images] CHECK CONSTRAINT [FK__Products___produ__46E78A0C]
GO
ALTER TABLE [dbo].[Tablet_detail]  WITH CHECK ADD  CONSTRAINT [FK_Tablet_detail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Tablet_detail] CHECK CONSTRAINT [FK_Tablet_detail_Product]
GO
ALTER TABLE [dbo].[Whistlist]  WITH CHECK ADD  CONSTRAINT [FK_Whistlist_Account] FOREIGN KEY([userId])
REFERENCES [dbo].[Customer] ([userId])
GO
ALTER TABLE [dbo].[Whistlist] CHECK CONSTRAINT [FK_Whistlist_Account]
GO
ALTER TABLE [dbo].[Whistlist]  WITH CHECK ADD  CONSTRAINT [FK_Whistlist_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Whistlist] CHECK CONSTRAINT [FK_Whistlist_Product]
GO
